.news {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 1% 0.5%;
    padding: 10px;
    background-color: white;
}

._2R-kh {
    display: flex;
    justify-content: space-evenly;
}

.instaPosts {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 1% 0.5%;
    padding: 10px;
    background-color: white;
}

@media screen and (max-width: 960px) {
    .news {
        margin: 0 0.5% 1% 0.5%
    }

    .instaPosts {
        margin: 0 0.5% 1% 0.5%
    }
}
