
body {
  --accent-color: #fff;
  --background-color: rgb(236, 225, 226);
  --background-color-cards: rgb(247, 233, 231);
  --shadow: rgba(0, 0, 0, 0.2);
  --text-color: black;
  --text-color-footer: rgb(163, 154, 154);
  --button-text-color: var(--background-color);


  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.darkmode {
  --accent-color: #fff;
  --background-color: #1B0112;
  --background-color-cards: rgb(39, 5, 5);
  /* #5a0834; */
  /* rgb(82, 36, 36); */
  --shadow: rgba(0, 0, 0, 0.2);
  --text-color: rgb(163, 154, 154);
  --text-color-footer: rgb(163, 154, 154);
  --button-text-color: var(--background-color);

  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
